.dbutton{
    font-size: 20px;
    font-weight: 500;
    color: #333 !important;
    border: 2px solid #333 !important;
    background-color: rgb(237, 231, 231) !important;
}
body{
    background-color: #f1f1f1;
}
.darkmm{
    background-color:#000021 !important;
    color: white !important;
}
.textsh{
    text-shadow: 0px 0px 2px white !important;
}
.container-img{
    margin-top: 70px;
    width: 100%;
}
.imgsec{
    border: 3px solid #333;
    box-shadow: 4px 4px 30px ;
    margin: auto;
    height: 500PX;
    width: 400PX;
    background: url(دانيال\ النبى.jpg);
    background-size: cover;

}
li{
    font-size: 20px;
    font-weight: 600;
}
h2{
    text-shadow: 0px 0px 2px black;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 20px;
    text-decoration:underline;
}
h5{
    text-align: center;
}
p{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 20px;
    transition: text-shadow 0.5s ease-in-out;
}
.content{
    margin-top: 40px;
    text-align: right;
}
.hebook{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.cardto{
    background-color: rgba(6, 1, 46, 0.5)  !important;
}
img{
    opacity: 0.7;
}
.booksec{
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bookcont{
    flex: none;
    vertical-align: top;
    width: 300px;
    height: 460px;
    border: 2px solid #333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px #333;
    margin-right: 20px;
    margin-bottom: 20px;
}
.bocov{
    background: url(غلاف.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    border-bottom: 2px solid #333;
    box-shadow: 0px 0px 4px #333;
}
.bocov2{
    background: url(غلاف-دانيال-الرجل-المحبوب-القمص-داود-لمعي-224x300.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    border-bottom: 2px solid #333;
    box-shadow: 0px 0px 4px #333;
}
.bonight{
    opacity: 0.5;
}
.infosec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:145px;
    width: 100%;
}
.download-btn{
    display: block;
    width: 150px;
    padding: 10px 50px;
    border: 2px solid #333;
    background-color:teal;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: #f1f1f1;
}
.download-night{
    background-color: crimson;
}
.download-btn:hover{
    color: #f1f1f1;
}
.inpcont{
    margin-top: 85px;
}
.btn{
    font-size: 25px !important;
    font-weight: 500 !important;
}
.notecont{
    margin-top: 30px;
    padding:0px 10px;
    width: 100%;
    height: 100%;
}
.notebox{
    margin-bottom: 30px !important;
    width: 100% !important;
    height: 100px !important;
    border: 3px solid #333;
    box-shadow: 0px 0px 4px #333;
}
@media (min-width:0px) and (max-width:467px){
    .nav-width{
        width: 200px !important;
    }
    #darkmode{
        font-size: 15px !important;
    }
    #darkmode{
        font-size: 15px;

    }
    input{
        width: 250px;
    }
    .imgsec{
        height: 370px;
        width: 270px;
    }
    ul,li{
        font-size: 15px;
        font-weight: 500;
    }
    .bookcont{
        margin-right: 0px;
        width: 250px;
        height: 370px;
    }
    .bocov{
        height: 236px;
    }
    .bocov2{
        height: 236px;
    }
    .infosec{
        height: 95px;
    }
    .booksec{
        margin-top: 45px ;
    }
    .download-btn{
        width: 130px;
        font-size: 15px;
    }
    h5{
        margin-top: 25px;
    }
}
@media (min-width:468px) and (max-width:700px){
    .nav-width{
        width: 200px !important;
    }
    .bookcont{
        width: 300px;
        height: 450px;
    }

}
